{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient intake {% endblock %}

{% block main %}
    <div class="container">
    <div class="row">
        {{ include('patient/includes/_proces_treatment_status.html.twig') }}
        <div class="col-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3">
                <h1 class="text-center">Intake </h1>
                <h3 class="text-right">Completion</h3>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header"><strong>Reason for intake</strong> Step 1</div>
                <div class="card-body">
                    <form class="form-horizontal" action="" method="post">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-email">Direct medical reason for intake?</label>
                            <div class="col-md-9">
                                <input class="form-control" id="hf-email" type="email" name="hf-email"
                                        autocomplete="email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-password">Pain indication on a scale of 1 to 10?</label>
                            <div class="col-md-9">
                                <input class="form-control" id="hf-password" type="password" name="hf-password"
                                        autocomplete="current-password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="hf-password">Referral to another healthcare provider or on your own initiative?</label>
                            <div class="col-md-9">
                                <input class="form-control" id="hf-password" type="password" name="hf-password"
                                        autocomplete="current-password">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
                </div>
            </div>
        </div>
    </div>
    {% block customjavascripts %}
    {% endblock %}
{% endblock %}