<div class="container">
    <div class="row">
        <div class="col-2 bg-dark text-white rounded-left w-25 p-3 border-right">
            <span class="fa-stack">
                <span class="far fa-square fa-stack-2x"></span>
                <strong class="fa-stack-1x" style="font-size:70%;">1</strong></span> Intake
        </div>
        <div class="col-2 bg-secondary w-25 p-3 border-right">
             <span class="fa-stack">
                <span class="far fa-square fa-stack-2x"></span>
                <strong class="fa-stack-1x" style="font-size:70%;">2</strong></span> Diagnosis
        </div>
        <div class="col-6 bg-secondary w-25 p-3 border-right">
             <span class="fa-stack">
                <span class="far fa-square fa-stack-2x"></span>
                <strong class="fa-stack-1x" style="font-size:70%;">3</strong></span> Treatment
        </div>
        <div class="col-2 bg-secondary rounded-right w-25 p-3">
             <span class="fa-stack">
                <span class="far fa-square fa-stack-2x"></span>
                <strong class="fa-stack-1x" style="font-size:70%;">4</strong></span> Aftercare
        </div>
    </div>
</div>