{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Patient details {% endblock %}

{% block main %}
    <div class="container">

        <h1>Patient Details</h1>

        {{ patient.lastName }}

    </div>
{% endblock %}