{% extends 'base.html.twig' %}

{% block title %}MedicSoft | Planning{% endblock %}

 {% block breadcrumb %}
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb custom-bar-color">
        <li class="breadcrumb-item"><a href="#">Schedule</a></li>
        <li class="breadcrumb-item active">Today</li>
        <li class="ml-auto" aria-current="page">
            <div class=" px-3 d-flex align-items-center custom-bar-color "><i
                        class="fas fa-calendar"></i>&nbsp; {{ "now"|date("m/d/Y") }}&nbsp;&nbsp;
                <i class="fas fa-clock"></i>&nbsp;<div id='time-part'></div>
            </div>
        </li>
    </ol>
</nav>
 {% endblock breadcrumb %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3">
            <h1 class="text-center">Schedule</h1>
        </div>
        <div class="row">
            <div class="col-10">
                <table class="table table-striped border-secondary">
                    <thead>
                    <tr>
                        <th scope="col">Timeslot</th>
                        <th scope="col">Patient</th>
                        <th scope="col">Date of birth</th>
                        <th scope="col">Treatment</th>
                        <th scope="col">Notifications</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">8:00</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mda</td>
                    </tr>
                    <tr>
                        <th scope="row">9:00</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>thin</td>

                    </tr>
                    <tr>
                        <th scope="row">11:15</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@ad</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <button class="btn btn-success">add new</button>
                <br>
                <br>
                <button class="btn btn-primary">yesterday</button>
                <br>
                <br>
                <button class="btn btn-primary">tomorrow</button>
                <br>
                <br>

            </div>

             <div id="root"></div>
        </div>
    </div>
{% endblock %}
