@import '~@coreui/coreui/dist/css/coreui.min.css';

body {
   background-color: #999999;
}

.body-unauthorized
{
    background-image: url("/assets/images/background.png");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.fixed-width-120{
    width: 120px;
}

@media (min-width: 0px) and (max-width: 1024px) {
    .c-avatar-img{
        display: none!important;
    }
}

@media (min-width: 0px) and (max-width: 1024px) {
    .custom-hidden-text{
        display: none!important;
    }
}

.c-avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.table-avatar-img{
    max-width: 30px;
    max-height: 30px;
}

.table-avatar-img-patient-card{
    max-width: 125px;
    max-height: 125px;
}

.c-avatar-img-patient-card{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.deco-none {
    color: inherit;
    text-decoration:none;
}

.custom-bar-color{
    background-color: #cacaca;
}

.border-card-custom{
    color: #ac8199;
    border: 1px solid;
}

.header-custom-color{
    color: #7d526a;
}

.custom-range-score-width{
    width: 400px;
}

.custom-bar-color{
    background-color: #cacaca;
}

.custom-range-score-width{
    width: 400px;
}

.outer{
    margin-top: 5px;
    width: auto;
}
.inner{
    background-color: #cfa956;
    width: 5.5%;
    height: 5px;
}

.inner2{
    background-color: #cfa956;
    width: 11%;
    height: 5px;
}

.inner3{
    background-color: #cfa956;
    width: 16.5%;
    height: 5px;
}

.custom-margin{
    margin-bottom: 10px;
}